<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coronaOff.dao.patientDataDao" >

<select id="selectAllPatientData" resultType="com.coronaOff.dto.patientData">
	select * from coronaoff.patientdata order by pnum;
</select>
<select id="selectPatientDataBySeq" parameterType="int">
	select * from coronaoff.patientdata where pnum=${pnum}
</select>

</mapper>